<!DOCTYPE html>
<html>
    <head>
        <title>
            W3.CSS Template
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
        </style>

    </head>

    <body class="w3-light-grey w3-content" style="max-width:2000px">

        <script>
            function redirectToAbout() {
                window.location.href = '/about';
            }
            function redirectToProducts() {
                window.location.href = '/'
            }
            function redirectToNonFiction() {
                window.location.href = '/non_fiction';
            }
            function redirectToSeqArt() {
                window.location.href = '/seq_art';
            }
            function redirectToFiction() {
                window.location.href = '/fiction';
            }
            function redirectToYoungAdult() {
                window.location.href = '/young_adult';
            }
            function redirectToFantasy() {
                window.location.href = '/fantasy';
            }
            function redirectToRomance() {
                window.location.href = '/romance';
            }
            function redirectToMystery() {
                window.location.href = '/mystery';
            }
            function redirectToFoodAndDrink() {
                window.location.href = '/food_and_drink';
            }
        </script>

        <!-- Sidebar/menu -->
        <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
            <div class="w3-container">
                <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
                    <i class="fa fa-remove"></i>
                </a>
            <img src="https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip" style="width:45%;" class="w3-round"><br><br>
                <h4><b>BOOKS</b></h4>
            </div>
            <div class="w3-bar-block">
                <a href="#products" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>PRODUCTS</a> 
                <a href="#about" onclick="redirectToAbout()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a> 
            <!--<a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a> -->
            </div>  

        </nav>
        
        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-left:300px">

            <!-- Header -->
            <header id="portfolio">
            <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
                <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
                <div class="w3-container">
                <h1><b>BOOKS TABLE</b></h1>
                    <div class="w3-section w3-bottombar w3-padding-16">
                        <span class="w3-margin-right">Filter:</span> 
                        <button class="w3-button w3-white" onclick = "redirectToProducts()">ALL</button>
                        <button class="w3-button w3-white" onclick = "redirectToNonFiction()">Nonfiction</button>
                        <button class="w3-button w3-white" onclick = "redirectToSeqArt()">Sequential Art</button>
                        <button class="w3-button w3-white" onclick = "redirectToFiction()">Fiction</button>
                        <button class="w3-button w3-white" onclick = "redirectToYoungAdult()">Young Adult</button>
                        <button class="w3-button w3-white" onclick = "redirectToFantasy()">Fantasy</button>
                        <button class="w3-button w3-white" onclick = "redirectToRomance()">Romance</button>
                        <button class="w3-button w3-white" onclick = "redirectToMystery()" >Mystery</button>
                        <button class="w3-button w3-black" onclick = "redirectToFoodAndDrink()">Food and Drink</button>
                    </div>
                </div>
            </header>
        </div>

        <!-- Table -->
        <div class="w3-container" style="overflow-x: auto; margin-left: 150px;">
            {% block content %} 
            <table class="w3-table-all" style="margin-left: 150px;">
                <thead>
                    <tr class="w3-teal">
                        <th>Title</th>
                        <th>Category</th>
                        <th>UPC</th>
                        <th>Product Type</th>
                        <th>Price (excl)</th>
                        <th>Price (incl)</th>
                        <th>Tax</th>
                        <th>No of Reviews</th>
                        <th>Stock Availability</th>
                        <th>Stock Available</th>
                    </tr>
                </thead>
                <tbody>
                    {%  for data in food_and_drink_data %}
                        <tr>
                            <td>{{ data['title'] }}</td>
                            <td>{{ data['category'] }}</td>
                            <td>{{ data['upc'] }}</td>
                            <td>{{ data['product_type'] }}</td>
                            <td>{{ data['price_excl'] }}</td>
                            <td>{{ data['price_incl'] }}</td>
                            <td>{{ data['tax'] }}</td>
                            <td>{{ data['no_of_reviews'] }}</td>
                            <td>{{ data['stock_availability'] }}</td>
                            <td>{{ data['available_count'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endblock %}
        </div>

    </body>
</html>
